.pc
gcc-*.tar.xz
gdc-*.tar.xz
nvptx-newlib-20170301
nvptx-newlib-*.tar.xz
src
stamps

debian/patches/series

debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars

debian/gcc-XX-7.1
debian/gcc-ar-7.1
debian/gcc-nm-7.1
debian/gcc-ranlib-7.1

debian/tmp*
debian/files
debian/shlibs.local
debian/substvars.local
debian/README.libstdc++-baseline
debian/README.Bugs
debian/README.Debian.*
debian/rules.parameters
debian/soname-cache
debian/arch_binaries*
debian/indep_binaries*

debian/*-7*.preinst
debian/*-7*.postinst
debian/*-7*.prerm
debian/*-7*.postrm
debian/*-7*.doc-base*
debian/*-7*.overrides
debian/lib*1.preinst
debian/lib*2.preinst
debian/lib*6.preinst
debian/lib*1.postinst
debian/lib*6.postinst
debian/lib*1.prerm
debian/lib*6.prerm

debian/cpp-7
debian/cpp-7-doc
debian/fixincludes
debian/g++-7
debian/gcc-7
debian/gcc-7-base
debian/gcc-7-doc
debian/gcc-7-source
debian/gcc-7-hppa64-linux-gnu
debian/gcc-7-locales
debian/gcc-7-nof
debian/gcc-7-offload-nvptx
debian/gcc-7-soft-float
debian/gcc-7-test-results
debian/gcc-snapshot
debian/gccbrig-7
debian/gccgo-7
debian/gccgo-7-doc
debian/gdc-7
debian/gfortran-7
debian/gfortran-7-doc
debian/gnat-7
debian/gnat-7-sjlj
debian/gnat-7-base
debian/gnat-7-doc
debian/gobjc-7
debian/gobjc++-7
debian/g*-7-multilib
debian/gcc-7-plugin-dev
debian/lib*asan4
debian/lib*asan4-dbg
debian/lib*atomic1.symbols
debian/lib*atomic1
debian/lib*atomic1-dbg
debian/libcc1-0
debian/libgccjit-7-dev
debian/libgccjit-7-doc
debian/libgccjit0
debian/libgccjit0-dbg
debian/lib*gcc1.symbols
debian/lib*gcc[124]
debian/lib*gcc[124]-dbg
debian/lib*gcc-7-dev
debian/lib*gfortran4.symbols
debian/lib*gfortran4
debian/lib*gfortran4-dbg
debian/lib*gfortran-7-dev
debian/lib*go11
debian/lib*go11-dbg
debian/libgomp-plugin-nvptx1
debian/lib*gomp1.symbols
debian/lib*gomp1
debian/lib*gomp1-dbg
debian/lib*hsail-rt0.symbols
debian/lib*hsail-rt0
debian/lib*hsail-rt0-dbg
debian/lib*hsail-rt-7-dev
debian/lib*itm1.symbols
debian/lib*itm1
debian/lib*itm1-dbg
debian/lib*lsan0
debian/lib*lsan0-dbg
debian/lib*mpx2.symbols
debian/lib*mpx2
debian/lib*mpx2-dbg
debian/lib*objc4
debian/lib*objc4-dbg
debian/lib*objc-7-dev
debian/lib*ssp0
debian/lib*tsan0
debian/lib*tsan0-dbg
debian/lib*ubsan1
debian/lib*ubsan1-dbg
debian/lib*vtv0
debian/lib*vtv0-dbg
debian/libgnat-7
debian/libgnatvsn7
debian/libgnatprj7
debian/libgnat*7-dbg
debian/libgnat*7.overrides
debian/libgnat*7-dev
debian/libgomp1-dev
debian/lib*gphobos76
debian/lib*gphobos76-dbg
debian/lib*gphobos-7-dev
debian/lib*quadmath0.symbols
debian/lib*quadmath0
debian/lib*quadmath0-dbg
debian/libssp0-dev
debian/lib*stdc++6
debian/lib*stdc++6-7-dbg
debian/lib*stdc++-7-dev
debian/libstdc++-7-doc
debian/libstdc++-7-pic
