.pc
gcc-*.tar.xz
gdc-*.tar.xz
bin
build
build-*
html
locales
src
stamps
bootstrap-*

debian/patches/series

debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars

debian/gcc-XX-6.1
debian/gcc-ar-6.1
debian/gcc-nm-6.1
debian/gcc-ranlib-6.1
debian/g?j*-wrapper-6*

debian/tmp*
debian/files
debian/shlibs.local
debian/shlibs.common*
debian/substvars.local
debian/README.libstdc++-baseline
debian/README.Bugs
debian/README.Debian.*
debian/rules.parameters
debian/soname-cache
debian/arch_binaries*
debian/indep_binaries*

debian/*-6*.preinst
debian/*-6*.postinst
debian/*-6*.prerm
debian/*-6*.postrm
debian/*-6*.doc-base*
debian/*-6*.overrides
debian/lib*1.preinst
debian/lib*2.preinst
debian/lib*6.preinst
debian/lib*1.postinst
debian/lib*6.postinst
debian/lib*1.prerm
debian/lib*6.prerm

debian/cpp-6
debian/cpp-6-doc
debian/fixincludes
debian/g++-6
debian/gcc-6
debian/gcc-6-base
debian/gcc-6-doc
debian/gcc-6-source
debian/gcc-6-hppa64-linux-gnu
debian/gcc-6-locales
debian/gcc-6-nof
debian/gcc-6-offload-nvptx
debian/gcc-6-soft-float
debian/gcc-6-test-results
debian/gcc-snapshot
debian/gccgo-6
debian/gccgo-6-doc
debian/gdc-6
debian/gfortran-6
debian/gfortran-6-doc
debian/gnat-6
debian/gnat-6-sjlj
debian/gnat-6-base
debian/gnat-6-doc
debian/gobjc-6
debian/gobjc++-6
debian/g*-6-multilib
debian/gcc-6-plugin-dev
debian/lib*asan3
debian/lib*asan3-dbg
debian/lib*atomic1.symbols
debian/lib*atomic1
debian/lib*atomic1-dbg
debian/libcc1-0
debian/libgccjit-6-dev
debian/libgccjit-6-doc
debian/libgccjit0
debian/libgccjit0-dbg
debian/lib*gcc1.symbols
debian/lib*gcc[124]
debian/lib*gcc[124]-dbg
debian/lib*gcc-6-dev
debian/lib*gfortran3.symbols
debian/lib*gfortran3
debian/lib*gfortran3-dbg
debian/lib*gfortran-6-dev
debian/lib*go9
debian/lib*go9-dbg
debian/lib*gomp1.symbols
debian/lib*gomp1
debian/lib*gomp1-dbg
debian/lib*itm1.symbols
debian/lib*itm1
debian/lib*itm1-dbg
debian/lib*lsan0
debian/lib*lsan0-dbg
debian/lib*mpx2.symbols
debian/lib*mpx2
debian/lib*mpx2-dbg
debian/lib*objc4
debian/lib*objc4-dbg
debian/lib*objc-6-dev
debian/lib*ssp0
debian/lib*tsan0
debian/lib*tsan0-dbg
debian/lib*ubsan1
debian/lib*ubsan1-dbg
debian/lib*vtv0
debian/lib*vtv0-dbg
debian/libgnat-6
debian/libgnatvsn6
debian/libgnatprj6
debian/libgnat*6-dbg
debian/libgnat*6.overrides
debian/libgnat*6-dev
debian/libgomp1-dev
debian/lib*gphobos68
debian/lib*gphobos68-dbg
debian/lib*gphobos-6-dev
debian/lib*quadmath0.symbols
debian/lib*quadmath0
debian/lib*quadmath0-dbg
debian/libssp0-dev
debian/lib*stdc++6
debian/lib*stdc++6-6-dbg
debian/lib*stdc++-6-dev
debian/libstdc++-6-doc
debian/libstdc++-6-pic

debian/libgcj17*
